@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using KushalBlogWebApp.Data.Model

@{
    var data = ViewBag.LatestPost as BlogModel;
    var allBlogData = ViewBag.AllBlogList as IEnumerable<BlogModel>;
    var allPinnedBlogData = ViewBag.AllPinnedBlogList as IEnumerable<BlogModel>;


}

<div class="container">
    <div class="row">
        <h2>
            Latest Articles
        </h2>
    </div>
    <div class="row mt-4">
        <div class="col-md-8">
            @if (data is not null)
            {
                <div class="card p-5 shadow ">
                    <div class=" mb-3 text-left" style="max-width: 100%;">
                        <a href="@Url.Action("SingleBlogDetails", "Home", new { Id = @data.Id })">
                            <img src="@data.ImageUrl" alt="logo" class="auth-logo img-fluid">
                        </a>
                    </div>
                    <div class="card-body text-left">
                        <a href="@Url.Action("SingleBlogDetails", "Home", new { Id = @data.Id })" style="color: #000; border-bottom: 2px solid #007bff; font-weight: bold; text-decoration: none;">
                            <h3 class="mb-4">@data.BlogHeader</h3>
                        </a>
                        <p class="card-text">@data.BlogBody</p>
                        <div class="text-left">
                            <a href="@Url.Action("SingleBlogDetails", "Home", new { Id = @data.Id })" style="color: #000; border-bottom: 2px solid #007bff; font-weight: bold; text-decoration: none;">Read Full Article</a>
                        </div>
                    </div>
                </div>
            }
            else
            {
          
                    <h4 class="text-danger">
                        No Latest Post
                    </h4>
                </div>

            }

            <div class="row mt-4">
                @foreach (var blogData in allBlogData)
                {
                    <div class="col-md-6">
                        <div class="card p-4 shadow" style="width: 100%;">
                            <a href="@Url.Action("SingleBlogDetails", "Home", new { Id = @blogData.Id })">
                                <img src="@blogData.ImageUrl" alt="logo" class="auth-logo img-fluid" style="max-width: 100%;" href="@Url.Action("SingleBlogDetails", "Home", new { Id = @blogData.Id })">
                            </a>
                            <div class="card-body">
                                <a href="@Url.Action("SingleBlogDetails", "Home", new { Id = @blogData.Id })" style="color: #000; border-bottom: 2px solid #007bff; font-weight: bold; text-decoration: none;">
                                    <h5 class="mb-4">@blogData.BlogHeader</h5>
                                </a> <p class="card-text">@blogData.BlogBody</p>
                                <div class="text-left">
                                    <a href="@Url.Action("SingleBlogDetails", "Home", new { Id = @blogData.Id })" style="color: #000; border-bottom: 2px solid #007bff; font-weight: bold; text-decoration: none;">Read Full Article</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="col-md-4">
            <div class="card p-4 shadow mb-4">
                <img src="~/images/logo-sm.png" alt="logo" class="auth-logo img-fluid" style="max-width: 100%;">
                <div class="card-body">
                    <h5 class="mb-4">Gaurab Shrestha</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>

            @if (allPinnedBlogData.Count() > 0)
            {
                <div class="card p-4 shadow">
                    <div style="border-bottom: 2px solid black; width: 100%; margin-bottom: 15px;">
                        <h4 class="mb-0">Recommended Posts</h4>
                    </div>

                    @foreach (var blogData in allPinnedBlogData)
                    {
                        <div class="row mb-4">
                            <div class="col-4">
                                <a href="@Url.Action("SingleBlogDetails", "Home", new { Id = @blogData.Id })">
                                    <img src="@blogData.ImageUrl" alt="logo" class="auth-logo img-fluid" style="max-width: 100%;">
                                </a>

                            </div>
                            <div class="col-8 d-flex align-items-center">
                                <a href="@Url.Action("SingleBlogDetails", "Home", new { Id = @blogData.Id })">
                                    <h5 class="mb-0 text-center" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 80%;">@blogData.BlogHeader</h5>
                                </a>
                            </div>
                        </div>
                    }


                </div>
            }

        </div>


    </div>


</div>




