@using KushalBlogWebApp.Data.Model
@model SingleBlogModel
@{
    var allPinnedBlogData = ViewBag.AllPinnedBlogList as IEnumerable<BlogModel>;
    var allBlogComments = ViewBag.AllBlogComments as IEnumerable<BlogsComment>;
    var allChildBlogs = ViewBag.AllChildBlogs as IEnumerable<AddNewChildBlogSaveVm>;
}


<div class="container">
    <div class="row">
        <div class="col-md-9">

            <div>
                <div class="mb-3 text-left">
                    <img src="@Model.ImageUrl" alt="logo" class="auth-logo img-fluid" style="max-height: 500px;">
                </div>
                <div>
                    <h5>
                        Written Date: @Model.CreatedDate.ToString("MMMM dd, yyyy"), Written By: @Model.CreatedBy
                    </h5>
                </div>
                <div>
                    <h2 style="color: #333;" class="text-left">@Model.BlogHeader</h2>
                    <div class="text-left">
                        <p style="color: #666;">@Model.BlogBody</p>
                    </div>
                </div>
            </div>

            <div>
                @foreach (var childBlogs in allChildBlogs)
                {
                    <div>
                       <h3>
                            @childBlogs.BlogHeader
                       </h3>
                       <p>
                           @childBlogs.BlogBody
                       </p>
                    </div>
                    <div>
                        <img src="@childBlogs.ImageUrl" alt="logo" class="auth-logo img-fluid" style="max-width: 100%;">
                    </div>
                 
                }
            </div>
            <div class="row">
                <div id="commentSection" class=" col mt-5">
                    <form>
                        <ul>
                            @if (ViewBag.Error is not null)
                            {
                                @foreach (var error in ViewBag.Error)
                                {
                                    <li class="text-danger">@error</li>
                                }
                            }
                        </ul>
                        <div class="form-group">
                            <input type="hidden" class="form-control" id="blogId" value="@Model.Id">
                            <label for="fullName">Email address or Full Name</label>
                            <input type="text" class="form-control mt-3" id="fullName" aria-describedby="emailHelp" placeholder="Enter email or fullname">
                        </div>
                        <div class="form-group mt-3">
                            <label for="commentfield">Comment</label>
                            <textarea class="form-control mt-3" id="commentfield" rows="3" placeholder="Join the discussion..."></textarea>
                        </div>

                        <div class="submitBtn" style="margin: 0 auto; text-align: right; width: 100%;">
                            <button type="submit" class="btn btn-primary mt-3" onclick="submitForm()">Comment</button>
                        </div>
                    </form>

                </div>

                <div class="row mt-3" id="commentListSection">
                    @foreach (var comment in allBlogComments)
                    {
                        <div class="col-md-6">
                            <div class="card p-4 shadow" style="width: 100%;">
                                <div class="row">
                                    <div class="col-3 align-items-center">
                                        @{
                                            string firstLetter = string.Empty;

                                            if (!string.IsNullOrEmpty(comment.Username))
                                            {
                                                firstLetter = comment.Username.Substring(0, 1);
                                            }
                                        }
                                        <div style="text-align: center; padding: 20px; background-color: #87CEEB; width: 100px; height: 100px; border-radius: 100%; overflow: hidden;">
                                            <h1 style="color: white; font-size: 48px; margin: 0; ">@firstLetter.ToUpper()</h1>
                                        </div>
                                    </div>

                                    <div class="col-md-9">
                                        <h4 style="font-weight: bold; font-size: 200%; color: black;">
                                            @comment.Username
                                        </h4>

                                        <p>
                                            @comment.BlogComment
                                        </p>
                                        <p>
                                            @comment.CreatedDate
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>



            </div>
        </div>

        <div class="col-md-3 text-right">
            <div style="border-bottom: 2px solid #000; width: 70%; margin-bottom: 15px;">
                <h4 style="color: #333;">Recommended Posts</h4>
            </div>

            @foreach (var post in allPinnedBlogData)
            {
                <div class="row mt-4">
                    <div class="col-4">
                        <a href="@Url.Action("SingleBlogDetails", "Home", new { Id = @post.Id })">
                            <img src="@post.ImageUrl" alt="logo" class="auth-logo img-fluid" style="max-width: 100%;">
                        </a>

                    </div>
                    <div class="col-8 d-flex text-left" style="max-width: 50%;">
                        <a href="@Url.Action("SingleBlogDetails", "Home", new { Id = @post.Id })">
                            <h5 class="mb-3 text-left" style="color: #333; font-weight: bold;">@post.BlogHeader</h5>
                        </a>

                    </div>
                </div>
            }
        </div>
    </div>


</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>

    function submitForm() {
        var blogId = $("#blogId").val();
        var fullName = $("#fullName").val();
        var comment = $("#commentfield").val();

        console.log("BlogId: " + blogId);
        console.log("FullName: " + fullName);
        console.log("Comment: " + comment);
        debugger;

        $.ajax({
            url: '/Home/SaveComment',
            type: 'POST',
            data: {
                Id: blogId,
                FullName: fullName,
                Comment: comment
            },
            success: function (response) {
                console.log(response);
            },
            error: function (error) {
                // Handle error, if needed
                console.error(error);
            }
        });
    }

</script>
